.c{
        
        background-color: #212529;
        
        width: 100%;}
.nav-link{
    transition: 1s;
}
        .nav-link:hover{
            color:#1abc9c !important;
        }
        .navb{
            font-size: 70%;
            margin: auto;
        }
        .btn{
            background-color:#1abc9c !important;
        }
       
